.top-div {
    background-color: #7fcd91;
    position: relative;
    padding-top: 100px;
}

.mid-div {
    background-color: #721b65;
    height: 200px;
    width: 200px;
}

.bottom-div {
    background-color: #f0134d;
    height: 200px;
    width: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
    padding-top: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 30px;
    font-family: 'Bad Script', cursive;
    font-size: 7.25rem;
    color: #f64b3c;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 450px;
    top: 80px;
}

h2 {
    position: relative;
    top: 10px;
    font-size: 2.5rem;
    color: #f64b3c;
    font-weight: normal;
}

.skill-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-2 {
    float: right;
    margin-left: 30px;
}

hr {
    border-style: dotted;
    border-width: 7px;
    width: 4%;
    border-bottom: none;
    border-color: #EAF6F6;
}

#avatar {
    margin-top: 20px;
}

h3 {
    color: #40bfc1;
}

a {
    color: #5b5656;
    margin: auto 30px auto;
    font-size: 1.5rem;
}

.btn {
    background-color: #40bfc1;
    color: white;
    padding: 5px 7px 5px 7px;
    border-radius: 5%;
    text-decoration: none;
    width: 100%;
}

.bottom-container {
    margin-top: 50px;
    background-color: #3fc5f0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-container p {
    color: white;
}

p {
    font-weight: bold;
}